---
import "../styles/ContactStyles.css"
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Contact & Enrollment</h1>

    <div id="information"> 
        <p>To enroll in any of our classes please send us a message or call us through any of the provided methods below. Also feel free to call or 
           send a message with any questions you may have!
        </p>

        <ul id="contact-methods">
            <li><h3>Email: temp@gmail.com</h3></li>
            <li><h3>Phone: 604-111-1111</h3></li>
            <li><h3>WeChat: idk how wechat works</h3></li>
        </ul>

    </div>
</BaseLayout>