---
---

<section id="FAQ">
    <h1>FAQ</h1>

    <ul>
        <li>
            <h2>What is the format / teaching style of each class?</h2>
        
            <p>
                Our classes cover the material as taught by the resepective AP courses. We teach the material in an interactive lecture style, do example problems
                for students to reinforce their learning, and aid students through additional exercises not provided by the in-school AP classes. 
            </p>
        </li>

        <li>
            <h2>What qualifications do your teachers have?</h2>
        
            <p>
                All of our teachers are current upper year university students from top BC universities, who excell in their respective areas of study. Many of our teachers
                were also in the AP curriculum and know how to thrive in it. 
            </p>
        </li>

        <li>
            <h2>Do you offer one-on-one tutoring services?</h2>

            <p>
                As of now we do not offer one-on-one tutoring services. However, if you are enrolled in the class our teachers are more than happy to help with
                individual students questions during class time.  
            </p>
        </li>

    </ul>
</section>

<style scoped>
    #FAQ {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    #FAQ h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #e0e1dd;
    }

    #FAQ h2 {
        color: #e0e1dd;
        margin-bottom: 10px;
    }

    #FAQ p {
        color: #e0e1dd;
        margin-bottom: 50px;
        max-width: 600px;
        font-size: 1.1rem;
        line-height: 1.6;
    }

    #FAQ ul{
        list-style: none;
    }
</style>