---
---

<section id="hero">
    <h1>Peer To Peer Learning</h1>
    <a href="#about" id="scroll-down">&#x2304;</a>
</section>

<style scoped>
    #hero{
        height: 100vh;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #scroll-down{
        position: absolute;
        bottom: 40px;
        font-size: 60px;
        text-decoration: none;
        color: #e0e1dd;

        display: inline-block;
        transform: scaleX(2);
        transform-origin: center;
    }

    #scroll-down:link, #scrolldown:visited{
        color: #e0e1dd;
        text-decoration: none;
    }

    #scroll-down:hover { 
        display: inline-block;
        transform: scaleX(2);
        transform-origin: center;
        
        color: #F26B66;
    }

    #hero h1 { 
        font-size: 3rem;
        margin-bottom: 30px;
        color: #e0e1dd;
    }

</style>